<h2>Página para os Administradores: </h2>
<hr>
<a href="/admin/postagens"><button class="btn btn-primary">Ver Postagens</button></a>
<a href="/admin/categorias"><button class="btn btn-primary">Ver Categorias</button></a>